<header>
    <nav>
        <a href="/">grininja-Library</a>
        <ul>
        <li><a href="/authors">Authors</li>
           <li><a href="/authors/new">ADD Authors</li>
        
        </ul>
    </nav>
</header>