<label>Name</label>
<input name="name" type="text" value="<%= author.name %>" id="author">
<script>
    document.getElementById('author').onclick = function(e){
        e.preventDefault();
    }
  
  </script>